.nav{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    position: sticky;
    color: white;
    top:0px;
    background-color: rgb(28, 28, 28);
    z-index: 5;
}
a{
    text-decoration: none;
    color: white;
}
#searchField{
    margin: 1.75%;
    margin-left: 43.5%;
    width: 20%;
    padding: 1%;
    height: 0.5rem;
    color: white;
    background-color: rgb(14, 14, 14);
    border: 1.5px solid rgb(57, 57, 57);
    border-radius: 8px;
}
.nav_ele{
    margin: 25px;
}
.nav_ele:hover{
    color: orange;
    cursor: pointer;
}
/* .navbar{
    position: fixed;
    height: 100vh;
    width: 20%;
    background-color: white;
    top: 0;
    left: 0;
}
.nav_ele{
    padding: 7%;
    font-size: 25px;
    padding-left: 20%;
}
 
.logo{
    margin: 10%;
    width: 80%;
} */